/.idea
/src/main/resources/generatorConfig.xml
/src/main/webapp/assets
/deploy/
/target/
/logs/
/*.iml
/.settings
/.classpath
/.project
.Trashes
Thumbs.db
.DS_Store
._*
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
_*.js
_*.html
_*.jsx